:root {
    --background-color: #FFFDD0; /* cream */
    --primary-color: #4f2b12; /* brown */
    --secondary-color: #015401; /* dark green */
    --accent-color: black;
    --text-color: white;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color)
}

header, footer {
  background-color: var(--primary-color);
  padding: 1em .5em;
  color: var(--text-color);
}

header {
  border-bottom: var(--accent-color) 5px solid;
}

main {
  padding: 1em;
  justify-items: center;
  max-width: 1140px;
  align-self: center;
}

footer {
  margin-top: auto;
  border-top: var(--accent-color) 5px solid;
}

h1 {
  font-size: 2.5rem;
}

input {
  padding: 1em;
  margin: 1em;
  font-size: medium;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 1em;
  border-radius: 12px;
  border: none;
  font-size: medium;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-text_center {
  text-align: center;
}

.section-anywhere_overflow_wrap {
  overflow-wrap: anywhere;
}

.section-image_gallery {
  justify-content: center;
  display: flex;
  gap: 0px;
  height: 50vh;
}

.section-image_gallery-button {
  border-radius: 0;
  background-color: var(--accent-color);
  transition: background-color 1s ease .25s;
}
.section-image_gallery-button:hover, .section-image_gallery-button:focus-visible {
  background-color: var(--secondary-color);
}

.section-image_gallery-image_container {
  align-items: center;
  justify-items: center;
  background-color: var(--accent-color);
  width: 50vw;
}

.section-image_gallery-image_displayed {
  display: block;
}

.section-image_gallery-image_hidden {
  display: none;
}